<!DOCTYPE html>
<html>
  <head>
    <title>Homecook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:authorized] %>
  <p style="color: red;"><%= flash[:authorized] %></p>
<% end %>

<% if logged_in? %>
  <p> You are logged in as <%= link_to current_user.name, user_path(current_user) %> <%= link_to "Log out", logout_path, method: "post" %> <%= button_to "Edit your user details", edit_user_path(current_user), method: :get %></p>
<% else %>
  <p> <%= link_to "Log in", login_path %> </p>
<% end %>
    <%= yield %>
  </body>
</html>
