<h3>Cuisine types:</h3>

<ul>
  <% @user.cuisine_types.each do |c_t| %>
    <li> <%= c_t.capitalize %> </li>
  <% end %>
</ul>

<h3>Most Popular Recipe(s):</h3>
<ul>
<% @user.cooksters_most_popular_recipe.each do |recipe| %>
<li><%= recipe.name%> | Ordered <%=recipe.orders.count%> time(s)</li>
<%end%>
</ul>

<h3>Highest Grossing Recipe(s):</h3>
<ul>
<% @user.cooksters_highest_grossing_recipe.each do |recipe| %>
<li><%= recipe.name%> £<%=recipe.orders.count * recipe.price%></li>
<%end%>
</ul>

<h3>Average Order Total:</h3>
<ul>
<li>£<%=@user.average_order_total%></li>
</ul>

<h3>Recipes:</h3>

<ul>
  <% @user.recipes.each do |recipe| %>
    <li> <%= link_to recipe.name.capitalize, recipe_path(recipe) %> </li>
  <% end %>
</ul>

<%= button_to "Add a new recipe", new_recipe_path, method: :get %>
