<h1>Sign up</h1>
<% if @user.errors.any? %>
    The action could not be completed due to the following <%=pluralize(@user.errors.count, "error")%>:
  <ul>
  <% @user.errors.full_messages.each do |m| %>
  <li><%=m%></li>
<%end%>
</ul>
<%end%>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label "Please select if you are a Cookster:" %>
  <%= f.check_box :cookster %>
  <%= f.submit %>
<% end %>
