<h1> <%= @user.name %></h1>
<%= button_to "My orders", orders_path, method: :get %>
<h3>Address:</h3>
<p><%= @user.address %> </p>

<% if current_user.cookster == true  %>
  <%= render "cookster_show" %>
<% else %>
  <%= render "foodster_show" %>
<% end %>
